h1 {
    text-align: center;
}
#container {
    width: 80%;
    height: 300px;
    border: 3px solid black;
    background-color: azure;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#container div {
    width: 150px;
    height: 100px;
    text-align: center;
    color: black;
    font-size: 2em;
}