h1 {
    color: teal;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    text-decoration: black underline;
}
h2 {
    font-weight: bold;
     text-decoration: underline;
    text-align: right;
    text-align: justify;
}
p {
    text-align: left;
    font-weight: bolder;
}
h3 {
    font-weight: 100;
    text-align: justify;
    
}