div{
    height: 300px;
    width: 300px;
    background-color: rgba(255, 0, 0, 0.8);
    transition: 2s;
    margin: 0 auto;
    margin-top: 10px;
    transition: margin-top 2s ease-in 0.2s;
}
#opacity {
    background-color: rgba(0, 255, 0, 1);
    opacity: 0.2;
    /*opacity use to show the visibilty of the element*/
}
div:hover{
    background-color: black;
    border-radius: 50%;
    margin-top: 300px;
    background-color: pink;
}