.box {
    width: 200px;
    height: 200px;
    background-color: orange;
    border: 2px solid black;
    /*animation-name: widthanimation;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: normal;*/
    animation: colanimation 5s ease-in 0s infinite normal;
}
@keyframes colanimation {
    0% {
        background-color: aqua;
    }
    20% {
        background-color: red;
    }
    60% {
        background-color: black;
    }
    80% {
        background-color: orange;
    }
}
/*@keyframes fontanimation {
    from {
        font-size: 10px;
    }
    to {
        font-size: 40px;
    }
}
@keyframes coloranimation {
    from 
    {
        background-color: teal;
    }
    to
    {
        background-color: maroon;
    }
}
@keyframes widthanimation {
    from {
        width: 20px;
        background-color:teal;
    }
    to 
    {
        width: 200px;
        background: red;
    }
}*/
