#box1 {
    width: 100px;
    height: 100px;
    background-color: green;
    border: 3px solid black;
    transition: width 2s ease-in 0.5s;
}
#box1:hover{
    width: 600px;
}
#box2 {
    width: 100px;
    height: 100px;
    background-color: red;
    border: 3px solid black;
    transform: translate(200px , 20px) rotate(90deg);
}
#box3 {
    width:100px;
    height: 100px;
    background-color: lightblue;
    transform: skewX(20deg);
}
#box4 {
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    box-shadow: 2px 2px 5px green ;
}
#myPic {
    width: 100px;
    height: 100px;
    background-color: pink;
    background-image: url(Finn_Wolfhard.webp);
    background-size: cover;
    opacity: 50%;
}