#container {
    height: 500px;
    width: 500px;
    background-color: rgb(198, 198, 20);
    display: grid;
    /*grid-template-rows: 100px 100px 100px ;
    grid-template-columns: auto auto auto;*/
    grid-template-rows: repeat(4 , 1fr);
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 10px 10px;
}
.items {
   /* height: 70px;
    width: 100px;*/
    background-color: teal;
    text-align: center;
    border: 2px solid black;
}
.one {
    grid-column: 1/4;
}
.two{
    grid-row: 1/3;
}