#container {
    width: 400px;
    height: 400px;
    border: 3px solid teal;
    background-color: #ffc2d1;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.box {
    height: 100px;
    width: 100px;
    background-color:#ffe5ec;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
}
.face1 {
    width: 50px;
    height:25px;
    border: 2px solid black;
    background-color: #fb6f92;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 120px;
    left: 50px;
}
.eye1{
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: black;
    position: absolute;
    top: 85px;
    left: 50px;
}
.eye2{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 85px;
    left: 85px;
}
.box2 {
    height: 100px;
    width: 100px;
    background-color:#fee440;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
}
.mouth {
    width: 60px;
    height: 10px;
    border: 2px solid black;
    border-radius: 0 0 70px 70px;
    background-color: #000;
}