.container {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 10px;
}
.container div {
    background-color: gold;
    color: teal;
    font-size: 3em;
}
.one {
    grid-column: 1 / span 12;
}
.two {
    grid-row: 2 /span 10;
    grid-column: 1 / span 3;
}
.three {
    grid-column: 4 / span 6;
}
.four {
    grid-row:  /span 10;
    grid-column: 2 / span 10;
}
