h1 {
    text-align: center;
    font-family: league spartan;
    color: #ffa511;
    font-weight: 900;
    font-size: 55px;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration:teal double underline;
    background-color: black;

}