.face {
    width: 400px;
    height: 400px;
    border: 3px solid black;
    border-radius: 50%;
    background-color:aqua;
    align-items: center;
}
.mouth {
    width: 200px;
    height: 50px;
    background-color: pink;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 280px;
    left:100px;
}
.lefteye, .righteye {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    position: absolute;
    top: 150px;
    left: 100px;
}
.righteye {
    position: absolute;
    left: 250px;
}
.leftdot {
    height: 10px;
    width: 10px;
    background-color: brown;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
}
.rightdot {
    height: 10px;
    width: 10px;
    background-color: brown;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
}