section {
    margin-top: 100px;
}
div{
    height: 50px;
    width: 200px;
    text-align: center;
    background-color: cornflowerblue;
    border: 2px solid black;
    margin: 10px auto;
}
div:nth-of-type(2n){
    background-color: chartreuse;
}
div:nth-of-type(3n){
    background-color: chocolate;
}
#one{
    transform: rotate(45deg);
}
#two{
    transform: scale(0.5);
}
#three{
    transform: translate(100px);
}
#four{
    transform: skew(40deg);
}
#five{
    transform: rotate(45deg) translateX(100px);
}
#box{
    background-color: aqua;
    margin-left: 100px;
    box-shadow: 5px 5px 10px black;
}
#mybox{
    height: 400px;
    width: 400px;
    background-color: teal;
    color: darkred;
    background-image: url("millie\ bobby\ brown.webp");
    background-size: auto;
}