h2 {
    border: 2px solid #000000;
    width: 50%;
}
#outer {
    height: 400px;
    width: 400px;
    background-color: aqua;
    margin: 50px;
    font-size: 50px;
}
#inner {
    height: 200px;
    width: 200px;
    background-color: maroon;
    margin-left: 20px;
    font-size: 1em;
    padding: 1em;
}
button {
    font-size: 50px;
    border: 5px solid green;
    border-radius: 15px;
    padding-left: 1em;
    padding-right: 1em;
    background-color: aquamarine;
    /*Em method*/
    
}
section{
    font-size: 50px;
}
div{
    font-size: 2rem;
    /*rem method*/
}
