.box {
    width: 150px;
    height: 150px;
    background-color: teal;
    border: 2px solid black;
    text-align: center;
}
.one {
    background-color: gold;
    position: relative;
    z-index: 1;
}
.two {
    background-color: brown;
    position: relative;
    bottom: 80px;
    z-index: 2;
}